In [ ]:
# print function
print("Hello world")

Hello world

In [ ]:
#Variables
a = 5
a_5 = 6
print(a_5)

6

In [ ]:
#In Python, the help() function is a built-in function that provides information about modules, classes, functions, and modules
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#The id() function returns a unique id for the specified object.
id(a)

136752296116592

In [ ]:
#DataTypes
number = 24
f = 1.0
b = True
s = "Mohit 123 @"
m = """
this is a multi line string
"""
n = None
print(number,",",f,",",b,",",s,",",m,",",n)

24 , 1.0 , True , Mohit 123 @ ,
this is a multi line string
 , None

In [ ]:
#The type() function returns a type object that represents the type of the passed argument.
print(type(number),",", type(f),",",type(b),",",type(s),",",type(m),",",type(n))

<class 'int'> , <class 'float'> , <class 'bool'> , <class 'str'> , <class 'str'> , <class 'NoneType'>

In [ ]:
#The input() function allows user input.
name = input()

Mohit

In [ ]:
type(name)

str

In [ ]:
#Type conversion
x = input()

5

In [ ]:
y = float(x)
print(y,"," ,type(y))

5.0

In [ ]:
c = float("1.5")
type(c)

float

In [ ]:
int(c)

1

In [ ]:
#printing multiple values using print function
print("Mohit")

Mohit

In [ ]:
#The sep parameter of the print() function is used to specify the separator between the strings
print("Mohit","Priya","17","04","2004","2005",sep=" , ")
print("Mohit","20",sep="\n")

Mohit , Priya , 17 , 04 , 2004 , 2005
Mohit
20

In [ ]:
#The end parameter in the print function is used to add any string
print("Mohit","20",end=" ", sep="->")
print("Priya","20",sep="->")

Mohit->20 Priya->20

In [ ]:
#Special operators
#in operator tells you if an object is part of other object or not

name = "Rahul Janghu"
print("R" in name)
print("r" in name)

True
False

In [ ]:
#is operator tells you if both the object are at same memory location
a = 5
b = 5

print(id(a), id(b))

a is b

137829884772720 137829884772720

True

In [ ]:
#if else syntax
age = int(input())

if age > 18:
  print("You are eligible")
  print("drive slow")
else:
  print("Age should not be less than 18")

19
You are eligible
drive slow

In [ ]:
#Nested if else

age = int(input())

if age > 18:
  if age >= 65:
    print("Take rest")
  else:
    print("You are eligible")
    print("drive slow")
else:
  print("Age should not be less than 18")

18
Age should not be less than 18

In [ ]:
#if, elif and else
num = int(input())

if num > 0:
  print("Positive")
if num == 0:
  print("Zero")
else:
  print("Negative")

12
Positive
Negative

In [ ]:
num = int(input())

if num > 0:
  print("Positive")
elif num == 0:
  print("Zero")
else:
  print("Negative")

12
Positive

In [ ]:
#Find maximum

marks = [90,30,100,50,80,95]

highest = marks[0]
for i in marks:
  if i > highest:
    highest = i

print(highest)
max(marks)
min(marks)

100

30

In [ ]:
#while loop
i = 1
#loop condition
while i <= 6:
  #inside body
  print("You are the best")

  #update
  i += 1

You are the best
You are the best
You are the best
You are the best
You are the best
You are the best

In [ ]:
#Print all numbers from 1 to 10

i = 1

while i <= 10:
  print(i,end=" ")
  i += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#Print all even numbers from 0 to 10

i = 0

while i <= 10:
  if i % 2 == 0:
    print(i, end=" ")

  i += 1

0 2 4 6 8 10

In [ ]:
#Print sum of all numbers from 0 to 10
i = 1

while i <= 10:
  print(i,end=" ")

  i += 1

In [ ]:
#Print sum of all numbers from 1 to 10

i = 1
add = 0

while i <= 10:
  add += i
  print(add,end=" ")

  i+=1
print(add)

1 3 6 10 15 21 28 36 45 55 55

In [ ]:
#Range function - allow users to generate series of numbers
#It is iterable as well
#Here start is 0 and jump is 1
print(range(5))
list(range(5))

range(0, 5)

[0, 1, 2, 3, 4]

In [ ]:
#By default jimp here will be 1
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
#Start is included and end is excluded
list(range(2,5))

[2, 3, 4]

In [ ]:
print(list(range(1,10,2)))
print(list(range(10,1,1)))
print(list(range(10,1,-1)))
print(list(range(10,0,-2)))
print(list(range(-1,10)))

[1, 3, 5, 7, 9]
[]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[10, 8, 6, 4, 2]
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#For loop
#i : iterator, range() : iterable
for i in range(1,11):
  print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

In [ ]:
#Print multiplication table of 5

n = int(input())

for i in range(1,11):
  print(n,"*",i,"=",i*n)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#Print pattern 1

for i in range(4):
  for j in  range(4):
    print("#",end=" ")
  print()#brings into new line

# # # #
# # # #
# # # #
# # # #

In [ ]:
#Print pattern 2

n = int(input())

for i in range(1,n+1):
  for j in range(i):
    print("#",end=" ")
  print()

4
#
# #
# # #
# # # #

In [ ]:
#Break, Continue and Pass
#use to alter the flow of a program
#break : breaks the flow of program once this condition is hit
#continue : skips that particular iteration
#pass : to avoid syntax error

for i in range(1,10):
  pass

In [ ]:
#continue

for i in range(1,10):
  if i == 5:
    continue
  print(i,end=" ")

1 2 3 4 6 7 8 9

In [ ]:
#break

for i in range(1,10):
  if i == 5:
    break
  print(i,end=" ")

1 2 3 4

In [ ]:
i = 1

while i < 10:
  if i == 5:
    break
  print(i,end=" ")
  i += 1

1 2 3 4

In [ ]:
#Strings
#sequence of characters(alphabets, digits, whitespaces, special characters)
#can be defined using single, double or triple quotes

"Rahul" == "luhaR"

False

In [ ]:
#Indexing in a String

name = "Rahul Janghu"

name[2]

'h'

In [ ]:
name[-1]

'u'

In [ ]:
len(name)

12

In [ ]:
size = len(name)

print(name[-size])
print(size)

R
12

In [ ]:
#String Slicing

name = "Rahul Janghu"
print(name[0])
print(name[0:3])
print(name[0:])

Rah

In [ ]:
size = len(name)
print(name[2:size])
print(name[:])
print(name[::2])
print(name[:-1])
print(name[-2])
print(name[1:-2:-1])
print(name[-1:0])
print(name[::-1])
print(name[-1 : -(len(name) % 1) : -1])

hul Janghu
Rahul Janghu
RhlJnh
Rahul Jangh
h


uhgnaJ luhaR
uhgnaJ luha

In [ ]:
#String methods
name.capitalize()

'Rahul janghu'

In [ ]:
name.upper()

'RAHUL JANGHU'

In [ ]:
name.lower()

'rahul janghu'

In [ ]:
name.find("a")

1

In [ ]:
name.count("Ra")

1

In [ ]:
name.title()

'Rahul Janghu'

In [ ]:
name.split()

['Rahul', 'Janghu']

In [ ]:
name.index("R")

0

In [ ]:
name.replace("J","j")

'Rahul janghu'

In [ ]:
name.isupper()

False

In [ ]:
name.islower()

False

In [ ]:
name.isnumeric()

False

In [ ]:
name = "Rahul"
print(name.isalpha())
"Rahul janghu".isalpha()

False

In [ ]:
#String formatting

name = input()
age = input()

print("Hey my name is",name,"And my age is",age)

Rahul
25
Hey my name is Rahul And my age is 25

In [ ]:
name = input()
age = input()

print("Hey my name is {}, And my age is {}".format(name, age)) #{} are placeholder

Rahul
25
Hey my name is Rahul, And my age is 25

In [ ]:
name = input()
age = input()

print(f"Hey my name is {name}. And my age is {age}.")

Rahul
25
Hey my name is Rahul. And my age is 25.

In [ ]:
#String concatenation

first = input()
second = input()

print(first ," ", + second)

Rahul
janghu
Rahul  janghu

In [ ]:
"2" + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Print all vowels of a given string

text = "The quick brown fox jumps over the lazy dog"

for i in text:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
    print(i,end=" ")

e u i o o u o e e a o

In [ ]:
#Check pallindrome
#A string is said to be palindrome if the reverse of string is the same as string
#eg radar = radar, radix != xidar

s = "Rahul"
j = s[::-1]
p = s[::]


for i in s:
  if j == j:
    print("It is palindrome")
    break
  else:
    print("no")
    break

It is palindrome

In [ ]:
text = "Hello world Hello"
length = len(text)

for i in text:
  if i >= text:
    print("number cant repeat")

  else:
    print(i,end=" ")

  break

H

In [ ]:
#Lists
#Ordered collection of data, mutable type of data structures, contains multiple type of data and are iterable.

l = list()
print(type(l))

<class 'list'>

In [ ]:
l1 = [1,2,3]
print(type(l1))
print(len(l1))

<class 'list'>
3

In [ ]:
#accessing
print(l1[0])
print(l1[-len(l1)])
print(l1[-1])
print(id(l1))

1
1
3
135935069834944

In [ ]:
#changing value
l1[0] = 9
print(l1)
print(id(l1))

[9, 2, 3]
135935069834944

In [ ]:
#Iterable

for i in l1:
  print(i)

9
2
3

In [ ]:
#Slicing
l = [1,2,3,4,5,6]
len(l)

6

In [ ]:
print(l[0:3])
print(l[::-1])
print(l[5:0:-1])

[1, 2, 3]
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2]

In [ ]:
#List inbuilt methods
#count : Returns the count of an object

budget = [100,200,300,150,100]
print(budget.count(100))
print(budget.count(500))

2
0

In [ ]:
#index : Returns the index of 1st occurance of an object

budget = [100,200,300,150,100]
print(budget.index(200))
print(budget.index(100))

1
0

In [ ]:
#pop : Removes and returns the last element of a list
budget.pop()

100

In [ ]:
#remove : Removes the given object from our list

budget.remove(200)

In [ ]:
budget

[100, 300, 150]

In [ ]:
#sort : It sorts our list
budget.sort()
budget

[100, 150, 300]

In [ ]:
#insert : Helps to add an element at a given index

budget.insert(0,20)
budget

[20, 20, 100, 150, 300]

In [ ]:
#append
budget.append("Rahul")

In [ ]:
budget

[20, 20, 100, 150, 300, 'Rahul']

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.append(l2)

In [ ]:
l1

[1, 2, 3, [4, 5, 6]]

In [ ]:
#extend
l1.extend(l2)

In [ ]:
l1

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [ ]:
#Heterogenous lists
l = [2,"Rahul",1.3,True]
type(l)

list

In [ ]:
type(l[3])

bool

In [ ]:
for i in l:
  print(type(l[0:3:1]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
#2-D lists
l = [[1,2,3],[4,5,6],[7,8,9]]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
l[0]

[1, 2, 3]

In [ ]:
l[1]

[4, 5, 6]

In [ ]:
l[2]

[7, 8, 9]

In [ ]:
l[0][1]

2

In [ ]:
#Iteration in 2D string

l = [[1,2,3],[4,5,6],[7,8,9]]

for i in l:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [ ]:
#List Comprehension

l = []

for i in range(10):
  l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [(i ** 2) for i in range(20)]
l

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [ ]:
#Challenge

l = [4,6,5,8,9,3,2,4,5,4,3,2,3,4]

population = ['0']
population += ['1','2']
print(population)

['0', '1', '2']

In [ ]:
#Tuples
#ordered collection of data, unchangeable, iterable, heterogenous

t = ("Pluto","Mercury")
type(t)

tuple

In [ ]:
t[0]

'Pluto'

In [ ]:
t[-1]

'Mercury'

In [ ]:
t[:]

('Pluto', 'Mercury')

In [ ]:
t[0] = "Sun"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = ("Rahul", 2, 24.4, True)
type(t)

tuple

In [ ]:
t3 = (2)
type(t3)

int

In [ ]:
t1 = ()
type(t1)

tuple

In [ ]:
t = tuple("Rahul")
t

('R', 'a', 'h', 'u', 'l')

In [ ]:
t = ([1,2],[4,5])
print(len(t))
print(type(t),t)

2
<class 'tuple'> ([1, 2], [4, 5])

In [ ]:
#Mutability
t = (4,5,6)
t[0]=45

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = ([1,2,3],"Rahul")
print(type(t), type(t[0]), type(t[1]))

<class 'tuple'> <class 'list'> <class 'str'>

In [ ]:
#Unpacking a tuple
a = 3
b = 2
c = 5
d = 7
print(a,b,c,d)

3 2 5 7

In [ ]:
a,b = 2,4
print(a,b)

2 4

In [ ]:
t = (1,2,3,4)
a,b,c,d = t
print(a,b,c,d)

1 2 3 4

In [ ]:
# tuple containing vowels
vowels = ('a', 'e', 'i', 'o', 'u')

# index of 'e' in vowels
for i in vowels:
    if i == vowels:
        i = vowels.index('z')
        break
    else:
        print(-1)
        break
    print(i)

-1

In [ ]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [ ]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [ ]:
#Dictionary
#has key value pair form of data, ordered, not support indexing, accessed using key

d = {}
print(type(d))

<class 'dict'>

In [ ]:
#Creating non empty dictionary

fruits = {
    "Apple" : 120,
    "mango" : 100,
    "pineapple" : 90
}

type(fruits)

dict

In [ ]:
fruits

{'Apple': 120, 'mango': 100, 'pineapple': 90}

In [ ]:
#zip = binds variables/ converts 2 variables into dictionary binding them into key:value format

name = ["Apple","Mango","Oranges"]
prices = [120,100,130]

fruit = dict(zip(name,prices))
print(fruit)

{'Apple': 120, 'Mango': 100, 'Oranges': 130}

In [ ]:
#Accessing values using key

fruit["Apple"]

120

In [ ]:
#Accessing values using get method : to avoid error

fruits.get("Apple")

120

In [ ]:
fruits.get("Guava","Not available") #passes default message if the key is not present

'Not available'

In [ ]:
#Updating a Dictionary can be done by using key and update

#Updating the existing value

fruits["pineapple"] = {"small" : 90, "large" : 120}
fruits

{'Apple': 120, 'mango': 100, 'pineapple': {'small': 90, 'large': 120}}

In [ ]:
#Updating with new value

fruits["Guava"] = 80
fruits

{'Apple': 120,
 'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Guava': 80}

In [ ]:
#update : updating multiple values

new = {"Grapes" : 120, "oranges" : 70, "berry" : 140}
fruits.update(new)
fruits

{'Apple': 120,
 'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Guava': 80,
 'Grapes': 120,
 'oranges': 70,
 'berry': 140}

In [ ]:
#Deleting data using pop, popitem and del

#Citizenship check

"Apple" in fruits

True

In [ ]:
#dic.pop(key)

fruits.pop("Apple")
fruits

{'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Guava': 80,
 'Grapes': 120,
 'oranges': 70}

In [ ]:
#dict.popitem() - removes last item from the dictionary

fruits.popitem()
fruits

{'Apple': 120,
 'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Guava': 80,
 'Grapes': 120,
 'oranges': 70}

In [ ]:
#del object

del fruits
fruits

NameError: name 'fruits' is not defined

In [ ]:
#Iterating in a dictionary

for i in fruit:
  print(i)

Apple
Mango
Oranges

In [ ]:
fruit["Apple"]

120

In [ ]:
#Iterating both key and value

for i in fruit:
  print(i,fruit[i])

Apple 120
Mango 100
Oranges 130

In [ ]:
#Iterating using dict.items()

for key, value in fruit.items():
  print(key,value)

Apple 120
Mango 100
Oranges 130

In [ ]:
fruit.items()

dict_items([('Apple', 120), ('Mango', 100), ('Oranges', 130)])

In [ ]:
#Dictionary methods

#keys() - fetches keys

fruit.keys()

dict_keys(['Apple', 'Mango', 'Oranges'])

In [ ]:
#values() - fetches values

fruit.values()

dict_values([120, 100, 130])

In [ ]:
#items() - fetches both keys and values

fruit.items()

dict_items([('Apple', 120), ('Mango', 100), ('Oranges', 130)])

In [ ]:
#Challenge - take an input and find the freq of each letter and return the letter and their freq

name = "Rahul janghu"

freq = {}
for i in name:
  #check for presence
  if i not in freq:
    freq[i] = 1
  #if present increment the freq by factor of 1
  else:
    freq[i] += 1
print(freq)

{'R': 1, 'a': 2, 'h': 2, 'u': 2, 'l': 1, ' ': 1, 'j': 1, 'n': 1, 'g': 1}

In [ ]:
#Sets : Unique collection, Unordered, Unindexed, Mutable

lst = [1,2,3,1,1]
lst

[1, 2, 3, 1, 1]

In [ ]:
#Creating a Set : set() set(iterable)

#empty set

s = {}
type(s)

dict

In [ ]:
s = set()
print(s)
type(s)

set()

set

In [ ]:
#Non empty set

s = {1,2,3,1,2,4,5,1,2}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s = set("rahul")
type(s)

set

In [ ]:
s

{'a', 'h', 'l', 'r', 'u'}

In [ ]:
#Iteration
for i in s:
  print(i)

u
h
a
l
r

In [ ]:
#Updating a set
#add : For single element, update(iterable)

s = {1,2,3,3,5,4,6}
s

{1, 2, 3, 4, 5, 6}

In [ ]:
s.add(8)
s

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
name = "Rahul"
s.update(name)

In [ ]:
s

{1, 2, 3, 4, 5, 6, 8, 'R', 'a', 'h', 'l', 'u'}

In [ ]:
#Deleting an element
#pop : removes random element. We are not sure what it is, remove(element): removes Particular element

s.pop()

1

In [ ]:
s.remove(2)
s

{4, 5, 6, 8, 'R', 'a', 'h', 'l', 'u'}

In [ ]:
#Intersection
#Suppose Scaler has two courses available for students. Python and Java.
#You want to find out which students are enrolled in both the Python and Java Courses. Then you csn use the intersection method.

#We are taking names instead of unique Ids for ease of understanding

python = {"Iron man","Hulk","Spidy","Rahul"}
Java = {"Iron man","Harry potter","Ant man"}

python.intersection(Java)

{'Iron man'}

In [ ]:
Java.intersection(python)

{'Iron man'}

In [ ]:
#Union
#Suppose you want to find out which students are enrolled in either the python or the java course or in both. Then you csn use the union method.

python = {"Iron man","Hulk","Spidy","Rahul"}
Java = {"Iron man","Harry potter","Ant man"}

python.union(Java)

{'Ant man', 'Harry potter', 'Hulk', 'Iron man', 'Rahul', 'Spidy'}

In [ ]:
#Difference : Suppose you want to find out the set of students who have enrolled in the Python course but not in Java course of vice-versa, then we can use the difference method.

python = {"Iron man","Hulk","Spidy","Rahul"}
Java = {"Iron man","Harry potter","Ant man"}

python.difference(Java)

{'Hulk', 'Rahul', 'Spidy'}

In [ ]:
#Challenge : Count number of unique elements in a sentence

sent = "be the change you wish to see in the world"
s = set(sent)
s

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'r',
 's',
 't',
 'u',
 'w',
 'y'}

In [ ]:
lst = sent.split()
lst

['be', 'the', 'change', 'you', 'wish', 'to', 'see', 'in', 'the', 'world']

In [ ]:
s = set(lst)

In [ ]:
len(s)

9

In [ ]:
#Final code

sent = "be the change you wish to see in the world"
#unique word list
lst = sent.split()

#Convert into set
s = set(lst)
print(len(s))

9

In [ ]:
a={'Aurn', 'Nikhil', 'Seeta'}
a[0]= 'Arun'

TypeError: 'set' object does not support item assignment

In [ ]:
#Functions : user defined piece of code. It works only when its called by user. It helps in reusability of code and helps in reducing errors in your code. example - print, range etc.
#Helps in reusability of code, Make code manageable and organised
#User defined and built-in

#Defining a function
def greet():
  #this is body of the function
  print("hey have a good day!!")

print(greet)
#Calling a function
greet()

<function greet at 0x78b26e21bbe0>
hey have a good day!!

In [ ]:
#Docstring
def greet():
  """
  This function greets everyone when its called
  """
  print("hey,have a good day")

greet()
greet?

hey,have a good day

In [ ]:
#Parameters
#These are place holders in the function.
#When defining them we call them as Parameters.
#When passing the actual value we call them as Arguements.

name = input()

def greet(name):
  print("hey, how are you",name)

greet(name)

Rahul
hey, how are you Rahul

In [ ]:
def add(a,b):
  c = a + b
  print(c)

add(2,5)

7

In [ ]:
#Return
#A function ends when return statement is executed
#It returns the expression back to the function
#The code after return statement are not executed
#If there is nor return value then function returns None

#Return vs print

def add(a,b):
  c = a+ b
  print(c)

In [ ]:
add(3,4)

7

In [ ]:
a = add(2,4)
type(a)

6

NoneType

In [ ]:
def add(a,b):
  c = a + b
  return c

add(2,4)

6

In [ ]:
b = add(2,3)
print(b, type(b))

5 <class 'int'>

In [ ]:
#If no return object then it returns Nonetype
def func():
  return

c = func()
print(c, type(c))

None <class 'NoneType'>

In [ ]:
#Code after return statement does'nt get executed
def func():
  print("Before return")
  return "Rahul"
  print("After return")

func()

Before return

'Rahul'

In [ ]:
a = func()
#print(a)

Before return

In [ ]:
a = func()
print(a)

Before return
Rahul

In [ ]:
a

'Rahul'

In [ ]:
#Returning multiple values
def intro(name, age, hobby):
  return name,age,hobby

In [ ]:
c,d,e = intro("rahul",25,"Travelling")
print(c,d,e,sep=",")

rahul,25,Travelling

In [ ]:
c = intro("rahul",25,"Travelling")
print(c, type(c))

('rahul', 25, 'Travelling') <class 'tuple'>

In [ ]:
a , b = 2 , 3
print(a,b)

2 3

In [ ]:
#Scope of variable
#There are two scope of a variable : Global and Local
#Global variable can be used anywhere in a program
#Local variable can only be used locally inside a program(function)

#if a can be used anywhere in the program
a = 5

def func():
  print(a)

func()
print(a)

5
5

In [ ]:
a = 5

def func():
  x = 3
  print(x)

func()
print(a)
#print(x)

3
5

In [ ]:
a = 5

def func():
  a = 20
  print(a)

func()
print(a)

20
5

In [ ]:
#A global keyword is a keyword that allows a user to modify a variable outside the current scope.
#It is used to create global variables in Python from a non-global scope, i.e. inside a function.
#Global keyword is used inside a function only when we want to do assignments or when we want to change a variable. Global is not needed for printing and accessing.

a = 5

def func():
  global a
  a = 20
  print(a)

print(a)
func()
print(a)

In [ ]:
#Lambda function : used when we need nameless function for short period of time

def add(a,b):
  return a + b

add(3,4)

7

In [ ]:
(lambda a, b : a + b)(3,4)

7

In [ ]:
func = lambda a, b : a + b
type(func)

function

In [ ]:
func(5,2)

7

In [ ]:
def larger(a, b):
  if a > b:
    return a;
  else:
    return b

larger(4,3)

4

In [ ]:
(lambda a, b : a if a > b else b)(4,3)

4

In [ ]:
large = lambda a, b : a if a > b else b

large(54,2)

54

In [ ]:
lst = [(12,45),(2,3),(3,2)]
lst.sort()
lst

[(2, 3), (3, 2), (12, 45)]

In [ ]:
def k(x):
  return x[1]

In [ ]:
lst.sort(key = k)

In [ ]:
lst

[(2, 3), (3, 2), (12, 45)]

In [ ]:
lst.sort(key = lambda x : x[1])
lst

[(3, 2), (2, 3), (12, 45)]

In [ ]:
#Challenge : Write a Python function to print the even numbers from a given list.
#input - [1,2,4,3,5,6]
#output - 2 4 6

def even(li):
  #Iterate on the list li
  for i in li:
    #Check for even elements
    if i % 2 == 0:
      print(i, end=" ")

lst = [1,2,4,3,5,6]
even(lst)

2 4 6

In [ ]:
#Challenge : Write a Python function that takes a list and returns a new list with unique elements of the first list
#input - [1,2,3,1,2,4]
#output - [1,2,3,4]

lst = [1,2,3,1,2,4]

def unique(li):
  new = []
  #Iterate on the li list
  for i in li:
    #We are adding only unique elements in new list
    if i not in new:
      new.append(i)

  #return new list
  return new

unique(lst)

[1, 2, 3, 4]

In [ ]:
12 not in lst

True

In [ ]:
#Arguments vs Parameters
#Parameters : The values we pass while defining a function
#Arguments : The actual value of we pass when calling a function

#This name variable is known as parameter

def func(name):
  print("Hey my name is",name)

#Calling the function
#The actual value is known as agument

func("Rahul")

Hey my name is Rahul

In [ ]:
#Positional Arguments
#The value you pass when calling a function are matched according to their positions

def intro(name, hobby):
  print("Hey my name is",name)
  print("And my hobby is",hobby)

intro("Rahul","Cycling")

Hey my name is Rahul
And my hobby is Cycling

In [ ]:
#Default arguments
#Giving default values to the parameters
#For these parameters passing value in arguments is optional

def intro(name, hobby = "Reading"):
  print("Hey my name is",name)
  print("And my hobby is",hobby)

intro("Rahul")

Hey my name is Rahul
And my hobby is Reading

In [ ]:
#Positioning of default and non-default arguments

def intro(name = "Rahul",hobby):
  print("Hey my name is",name)
  print("And my hobby is",hobby)

SyntaxError: non-default argument follows default argument (<ipython-input-25-cc866a996a30>, line 3)

In [ ]:
#Arbitrary Arguments
#When number of values you want to pass is not known
#Like we pass multiple values in print function
#The values are being stored in tuple

def test(*args):
  #print(args)
  print(type(args))

  #Iterate and print
  for i in args:
    print(i*i,end=" ")

test(1,2,3,4)

<class 'tuple'>
1 4 9 16

In [ ]:
#Keyword arguments
#Variable number of kew word arguments
#It stores the data in dictionary format

def intro(**kwargs):
  #print(kwargs)
  print(type(kwargs))

  for key, values in kwargs.items():
    print(key,values, sep=" : ")

intro(name = "Rahul", age = 25, hobbies = ["Swimming","Read","Cycling"])

<class 'dict'>
name : Rahul
age : 25
hobbies : ['Swimming', 'Read', 'Cycling']

In [ ]:
def mix(a ,b ,c, age = 25, *args, **kwargs):
  print(a,b,c)
  print(age)
  print(args)
  print(kwargs)

mix(2, 4, 5, 45, 6, 8, 9, name="rahul", hobby="swimming")

2 4 5
45
(6, 8, 9)
{'name': 'rahul', 'hobby': 'swimming'}

In [ ]:
def intro(**kwargs, *args):
  print(agrs)
  print(kwargs)

SyntaxError: invalid syntax (<ipython-input-47-6e0fcf668897>, line 1)

In [ ]:
def intro(*args,**kwargs):
  print(agrs)
  print(kwargs)

In [ ]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

In [ ]:
#OOPs(Object Oriented Programming)
#The principles of OOPs are based on 4 pillars apart from Class and Objects
#A class hass attributes and behaivour

#Abstraction - displaying only essential information and hiding the details. eg - car will accletate but internal working of enginge not exposed

#Encapsulation - Bundling of data into a single unit. Bundling of all methods that can act on an object of the data, Car can have colors, brake, engine adn a lot of other methods

#Inheritance - When a class derives from another class. Any new car company can inherit all the information from car class

#Polymorphism - mean having many forms. Same class method can work differently for different objects.

In [ ]:
#Creating Classes - blueprint to create objects, class keyword is used to create classes. By general conversation we start name wwith capital letter
#eg - int, float, string etc

class Car:
  pass

In [ ]:
#Objects - instances or entities of a class. Has all the properties of its class
#eg - 1,2 are objects of int class

honda = Car()
type(honda)

__main__.Car

In [ ]:
type(1)

int

In [ ]:
#Constructor : used to create and initialize an object of a class. Defined in the class. Executed automatically at the time of object creation.


class Human:
  #I want some properties to be with every Human objects
  #Dunder __

  def __init__(self, name, age, hobby):
    self.name = name
    self.age = age
    self.hobby = hobby

rahul = Human("Rahul",25,"Swimming")
emma = Human("Emma",34,"Reading")

In [ ]:
print(rahul) #Memory allocation

<__main__.Human object at 0x7b8d22bf96f0>

In [ ]:
rahul.name
rahul.hobby

'Swimming'

In [ ]:
emma.name

'Emma'

In [ ]:
#Methods - apart from special methods you can make your custom methods. eg - Humans can speak, greet etc.

class Human:
  #Constructor
  def __init__(self,name,age,hobby):
    #These are known as attributes of an object
    self.name = name
    self.age = age
    self.hobby = hobby

  def greet(self):
    print(f"Hey my name is {self.name}. Good morning")

rahul = Human("rahul",25,"swimming")
rahul.greet()

Hey my name is rahul. Good morning

In [ ]:
#Class Variables
#These are common to the class
#eg - population of Human class is common to all objects

class Human:
  #Class variables
  population = 0
  data = []

  #Constructor
  def __init__(self,name,age):
    #These are known as attributes of an object
    self.name = name
    self.age = age

    #Increment population for every new Human object
    Human.population += 1
    Human.data.append(self.name)

  #Methods

  def greet(self):
    print(f"Hey my name is {self.name}. Good morning")

rahul = Human("Rahul", 35)

In [ ]:
rahul.name

'rahul'

In [ ]:
Human.population

0

In [ ]:
rahul.population

1

In [ ]:
emma = Human("Emma",32)
emma.population

1

In [ ]:
Human.population

0

In [ ]:
#More methods

class Human:
  #Class variables
  population = 0
  data = []

  #Constructor
  def __init__(self, name, age, alive = True):

    #These are known as attributes of an object
    self.name = name
    self.age = age
    self.alive = alive

    #Increment population for every new Human object
    Human.population += 1
    Human.data.append(self.name)

  #Methods

  def greet(self):
    print(f"Hey my name is {self.name}. Good morning")

  def dead(self):
    if self.alive:
      print(self.name,"is no more now.")
      Human.population -= 1
      self.alive = False
    else:
      print("This person is already dead")

  def child(self, number):
      Human.population += number

In [ ]:
h1 = Human("H1",70)
h2 = Human("H2",60)

In [ ]:
Human.population

2

In [ ]:
h1.dead()

H1 is no more now.

In [ ]:
h1.dead()

This person is already dead

In [ ]:
h3 = Human("Adam",25)

In [ ]:
Human.population

2

In [ ]:
h3.child(2)

In [ ]:
Human.population

4

In [ ]:
#Inheritance - When a class derives attributes and methods from other class
#It gets access to all its methods and attributes
#This helps in resuability of code

#Human is base class
#Employee is Derived class

class Employee(Human):


    #Re-initiate constructor
  def __init__(self,name, age, company,post):
    super().__init__(name,age, company, post)

    #Attributes for employee class
    self.company = company
    self.post = post

    #Add some attributes
  def hire(self, person):
    print(f"{person} has been hired in our company")
    Human.data.append(person)
    Human.population += 1

In [ ]:
e1 = Employee("Mark",34)

In [ ]:
Human.population

3

In [ ]:
e1.greet()

Hey my name is Mark. Good morning

In [ ]:
rahul = Human("Rahul", 35)

In [ ]:
Human.population

5

In [ ]:
rohit = Employee("Rohit",26,"Google","CEO")

TypeError: Human.__init__() takes 4 positional arguments but 5 were given

In [ ]:
rohit.post

'CEO'

In [ ]:
Human.data

['Mark', 'H1', 'H2', 'Rahul', 'Rohit']

In [ ]:
rohit.hire("Harry")

Harry has been hired in our company

In [ ]:
Human.data

['Mark', 'H1', 'H2', 'Rahul', 'Rohit', 'Rohit', 'Harry']

In [ ]:
rohit.dead()

Rohit is no more now.

In [ ]:
Human.data

['Mark', 'H1', 'H2', 'Rahul', 'Rohit', 'Rohit', 'Harry']

In [ ]:
Human.population

6

In [ ]:
#Polymorphism : having many forms, same class method can work defferently for different objects
#Operators level for polymorphism

a = 2
b = 4
#Adding
a + b

6

In [ ]:
#Concating
"2" + "2"

'22'

In [ ]:
#Function level polymorphism
# len, sum, custom

l = [1,2,3,4]
len(l)

4

In [ ]:
len("rahul")

5

In [ ]:
#sum
sum(l)

10

In [ ]:
def mul(*args):
  total = 1
  for i in args:
    total *= i

  return total

mul(2,3,4)

24

In [ ]:
class Human:

  def speak(self, language):
    print("I speak ", language)

In [ ]:
#File handling
#A file is a container in a computer system for storing data
#Data is permanently stored in form of text/binary

#Opening a file
#open : returns a file handle
#In order to perform any kind of operation on file first we open

In [ ]:
f = open("name.txt")

In [ ]:
type(f) #_io.TextIOWrapper

In [ ]:
f.closed #False / True

In [ ]:
f.read() #'Hello i am Rahul'

In [ ]:
f.close()

In [ ]:
#Modes of opening a file
#'r' : read only
#'w' : write only
#'a' : appending data at the end of file
#'wt' : write text
#'wb' : write binary
#'rb' : read binary
#'rt' : read text

In [ ]:
f = open("name.txt","w")
f.write("I am writable now") #18

In [ ]:
f.close()

In [ ]:
#With open
#Most common way to perform operation on files
#It closes the file after performing operations

with open("name.txt") as f:
  print(f.read())

#I am writable now

In [ ]:
f.closed #True

In [ ]:
with open("name.txt","w") as f:
  f.write("hey i am writable")

In [ ]:
#Writing in a file
#You can write both text and binary file
#You can either write or append in a file

#We are creating new file here

with open("new.txt","w") as f:
  f.write("Hey new file created")

In [ ]:
#Write in existing file

with open("new.txt","w") as f:
  f.write("This is the updated content of our file \n")
  f.write("This is new line")

In [ ]:
#Read
#using read() method we can read a file
#It opens in read only format

with open("new.txt","r") as f:
  data = f.read()
  print(data)

#This is the updated content of our file
#This is new line

In [ ]:
#read() : reads the whole data
#read(l) : reads data of length l
#tell() : tells you about the position of file handle
#speak() : it helps to re position your file handle
#readline() : reads data line by line

In [ ]:
with open("new.txt","r") as f:

  #Reading first 4 chr
  data = f.read(4)
  print(data)

  print(f.tell())

  #Next 10 chr
  data = f.read(10)
  print(data)

  #tell : tell you the position of your file handle
  print(f.tell())

  #using seek you can reset your file handler

  f.seek(2)
  print(f.tell())

  print(f.read())

#This
#4
# is the up
#14
#2
#is the updated content of our file
#This is new line

In [ ]:
with open("new,txt","r") as f:
  data = f.readlines()
  for i in data:
    print(data)

#This is the updated content of our file
#This is new line

In [ ]:
#Binary data
#To read binary data we open file in "rt" mode
#To write binary data we open file in "wt" mode

with open("rahul.jpeg","rb") as f:
  data = f.read()
  print(data)

In [ ]:
with open("rahul.jpeg","rb") as f:
  data = f.read()

  with open("new.jpeg","wb") as d:
    d.write(data)

In [ ]:
#Append
#this mode helps us to append in a file

with open("name.txt","a") as f:
  f.write("This is appended data")

In [ ]:
#Errors and Exceptions in Python
#When we write a faulty code the execution of program may stop due to the errors
#There can be some places where exceptions can be caused
#Errors are caused by wrong syntax
#Exceptions are logic based wherein syntax is right but logic isn't. Ex: Zero division

#Examples of errors - Syntax, Name, Type, File not found, IndentationError, ZeroDivisionError

print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [ ]:
#Try and Except
#try : This block handles the error in your code if any of it exists
#except : This block gives the output that you want to show if your code is faulty

a = 5
b = 0

#Put the suspect code in try block
try:
  print(a/b)
except Exception as e:
  print("there is an error that you might want to look for",e)

print("Hello rahul")

there is an error that you might want to look for division by zero
Hello rahul

In [ ]:
#Finally
#This block will be executed in any case
#It is helpful when you want to de-allocate resources
#Like closing a file, or db connection

a = 5
b = 0

try:
  print("open file")
  print(a/b)
except Exception as e:
  print("Error",e)
finally:
  print("close file")

open file
Error division by zero
close file